<!-- <div > -->
    
    <!-- <form>      
        <table class="table">
          <tr>
        <div>
          <input type="text" name="username" id="username"  placeholder="Username" class="form-control">
        </div>
          </tr>
          <tr>
        <div >
          <input type ="password" name="password" id="password"  placeholder="Password" class="form-control"
            id="description">
        </div>
      </tr>
      <tr>
        <div >
          <button type="submit" class="submit btn btn-primary" (click)="login()">Log In</button>          
        </div>
      </tr>
      </table>      
    </form> -->
    
      <!-- Navbar -->

      <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
          <a href="#" class="simple-text logo-normal">
            <img src="../assets/img/cog.png" height="40" width="160">
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav" >
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/userlogin">
                <i class="material-icons">person</i>
                <p>CMMA Administrator</p>
              </a>
              </li> 
          </ul>   
        </div>
      </div>


      <div class="main-panel" style="background-color: #eee">
      
      <div class="content">
        <div class="container-fluid">
          <div class="row" *ngIf="show">

              <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon" >
                      
                      <div class="card-icon">                            
                        <i class="fa fa-user"></i>
                      </div>
                      <p class="card-category">(CMMA Administrator)</p>
                  <h3 class="card-title">Administrator
                    
                  </h3>
                    </div>
                    <div class="card-footer" style="align-self: center;">
                      <div class="stats" >
                          <button type="submit" (click)="show = !show" class="btn btn-success">create administrator</button>                          
                      </div>
                    </div>
                  </div>
                </div> 
            
              
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-building"></i>
                  </div>
                  <p class="card-category">(About Your Organisation)</p>
                  <h3 class="card-title">Company Profile
                    
                  </h3>
                </div>
                <div class="card-footer" style="align-self: center;">
                  <div class="stats" >
                      <button type="submit" (click)="toCompanyProfile()" class="btn btn-success">click here for more information</button>
                  </div>
                  
                <!-- <div class="stats" >
                      <button type="submit" (click)="viewCompanyProfile('lister.value')" class="btn btn-success">View</button>
                </div> -->
                <!-- <div class="stats" *ngIf="companyList" >
                  <select id="lister" name="companylist" class="form-control">
                    <option >--Select Company--</option>
                    <option *ngFor="let company of companyList">{{company.name}}</option>                    
                  </select>
                </div> -->
                </div>
                
              </div>
            </div>  

                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon" >
                      
                      <div class="card-icon">                            
                        <i class="fa fa-user"></i>
                      </div>
                      <p class="card-category">(User of an organisation)</p>
                  <h3 class="card-title">Super User
                    
                  </h3>
                    </div>
                    <div class="card-footer" style="align-self: center;">
                      <div class="stats" >
                          <button type="submit" (click)="toSuperUser()" class="btn btn-success">click here for more information</button>
                      </div>
                    </div>
                  </div>
                </div> 
               
              
            
             
          </div>

          <div class="row" *ngIf="!show">
              
                  <div class="col-md-10">
                    <div class="card">
                      <div class="card-header card-header-primary">
                        <h4 class="card-title">Create Administrator</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                      </div>
                      <div class="card-body">
                          <form>
                              <div class="row">                        
                                <div class="col-md-5">
                                   <div class="form-group">
                                      <label class="bmd-label-floating">Full Name</label>
                                      <input type="text" name="fullname" id="fullname"  [(ngModel)]="newUser.fullname"  class="form-control">
                                    </div>
                                  </div>
                              
                                  <div class="col-md-5">
                                     <div class="form-group">
                                        <label class="bmd-label-floating">Username</label>
                                        <input type="text" name="username" id="emailname"  [(ngModel)]="newUser.username"  class="form-control">
                                      </div>
                                    </div>
                              </div>
                              <div class="row">                        
                                <div class="col-md-5">
                                   <div class="form-group">
                                      <label class="bmd-label-floating">Password</label>
                                      <input type="text" name="username" id="emailname"  [(ngModel)]="newUser.password"  class="form-control">
                                    </div>
                                  </div>
                                                      
                                <div class="col-md-5">
                                   <div class="form-group">
                                      <label class="bmd-label-floating">Email</label>
                                      <input type="text" name="username" id="emailname"  [(ngModel)]="newUser.email"  class="form-control">
                                    </div>
                                  </div>
                              </div>
                              <div class="row">                        
                                <div class="col-md-5">
                                   <div class="form-group">
                                      <label class="bmd-label-floating">Contact No.</label>
                                      <input type="text" name="username" id="emailname"  [(ngModel)]="newUser.contactnumber"  class="form-control">
                                    </div>
                                  </div>
                                                 
                                <div class="col-md-5">
                                   <div class="form-group">                                       
                                      <label class="bmd-label-floating">Organisation</label> 
                                      <select id="lister" name="companylist" class="form-control" [(ngModel)]="companyName">
                                        <option >--Select Company--</option>
                                        <option *ngFor="let company of companyList">{{company.name}}</option>                    
                                      </select>

                                    </div>
                                  </div>
                              </div>                             
                              
                              
                              <button type="submit" (click)="createAdministrator()" class="btn btn-primary pull-right">Create</button>
                              <button (click)="show = !show" class="btn btn-primary pull-left">Back</button>
                              <div class="clearfix"></div>
                            </form>
                      </div>           
    
                    </div>
                  </div>
                   
                
          </div>

        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Company name
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
               
               
            </ul>
          </nav> 
          <div class="copyright float-right">
            
             
             
            
          </div>
        </div>
      </footer>
     </div>